<footer class="footer">
  <div class="footer-container">
    <div class="left">
      <p>&#169; 2025 Airbnb, Inc.</p>
      <nav>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Sitemap</a>
        <a href="#">Company details</a>
      </nav>
    </div>
    <div class="footer-right">
      <span class="language">English (IN)</span>
      <span class="currency">₹ INR</span>
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://x.com/ManishKuma65452?t=F0v7jXPFX0rBG1PWzpeNew&s=09" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href="https://www.instagram.com/manish77633?igsh=MXNtdWc1NzlnYm0yMQ==" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
      </div>
    </div>
  </div>
</footer> 