<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <i class="fa-regular fa-compass me-2"></i>
      <span>Wanderlust</span>
    </a>

    <form action="/listings" method="GET" class="d-flex align-items-center flex-grow-1">
      <input 
        class="form-control me-2 search" 
        type="search" 
        name="q"
        placeholder="Find your destination" 
        aria-label="Search"
        value="<%= typeof q !== 'undefined' ? q : '' %>"
      >
      <button class="btn btn-airbnb me-2 search-btn" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i><span class="search-text-desktop">&nbsp;Search</span>
      </button>
    </form>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add New Listing</a>
        </li>
        <% if (!curuser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup"><b>Sign up</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Log in</b></a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><b>Log out</b></a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
